/erp.betafrom/nbproject/private/
.DS_Store
/moodle/
/cgi-bin/
/moduli/01.06.2017_caretelle_davide_base.zip
/classi/fpdf/doc/
/classi/fpdf/tutorial/
/classi/fpdf/ex_mysql_table.php
/classi/fpdf/mysql_table.php
/classi/fpdf/FAQ.htm
/classi/fpdf/histo.htm
/classi/fpdf/mysql_report.php
/classi/fpdf/prova_1.php
/classi/fpdf/install.txt
/classi/fpdf/ex_mysql_report.php
/classi/webservice/client_test.php
/classi/webservice/client_test2.php
/classi/webservice/test.php
/paypal/ipn/logs/